<div class="card self">
  <h3 class="question"><%= @question.capitalize %></h3>
  <p>- You</p>
</div>
<div class="card coach">
  <h3 class ="answer"><%= @answer %></h3>
  <p>- Your coach</p>
</div>
<div class="link">
  <p><%= link_to "Ask another question", ask_path %></p>
</div>



