<div>
  <h3>Ask your coach anything</h3>
</div>
<div>
  <form action="/answer" method="get">
    <input class="input" type="text" name="question">
    <input class="button" type="submit" value="Ask!">
  </form>
</div>

